.homePage{
    display: flex;
    padding: 12px 4px;


}
.allPost{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.homePage .newsContainer{
  position: sticky;
  top: 12px;

    height: fit-content;
}
